
{%extends 'base.html'%}
{% block content %}

<h1>WELCOME TO PATA PICHA</h1>
{{block.super}}
{% for post_item in post %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class=" post_item" style="margin-top: 10px; ">
                <a href="{% url 'imagedetails' post_item.id %}">
                    <img src="{{post_item.image.url}}" data-target="#imageModal{{post_item.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage" style="height: 480px; width: 350px">
                </a>
            </div>
    
    
        </div>
    
    </div>

</div>

    {%endfor%}

{%endblock%}



