{%extends 'base.html'%}
{% block content %}

<h1>WELCOME TO PATA PICHA</h1>
{{block.super}}
{% for post_item in post %}
<div class="row">
    <!-- displaying post pictures -->
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{post_item.image_pic.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post_item.title }}</h5>
                    <p class="card-text">{{ post_item.description }}</p>
                    <p class="card-text"><small class="text-muted">Posted:{{ post_item.pub_date|timesince }} ago</small></p>
                </div>
            </div>
        </div>
    
    </div>

   



</div>

    {%endfor%}

{%endblock%}
